*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(33, 27, 32);
    color: aliceblue;
    align-content: space-around;
    display: flex;
    height: 75px;
    width: 100%;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}
.logo{
    margin: 70px;
}
.logo:hover{
    font-size: 40px;
    padding: 20px;
}
.menubar ul{
    display: flex;
    gap: 25px;
}
.menubar a{
    color: aliceblue;
    justify-content: end;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px 20px ;
    font-size: larger   ;
}
.menubar li :hover{
    background-color: rgb(193, 79, 41);
    color: white;
}
body
/*Home Section */
#section_home{
    font-size: larger;
    display: flex ;
    margin: 10%;
    padding: 5%;
    justify-content:center;
}
#content{
    text-align:justify;
    align-items: end;
}
#image{
    justify-content: end;
    float: left;
    display: flex;
    width: 300px; 
    height: 400px; 
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out; 
}
#image img{
    margin-right:60% ;
    justify-content: space-between;
    border-radius: 60%;
    box-shadow: 10px 10px 20px 0px rgb(183, 92, 13);
    width: 300px; 
    height: auto;   
   
}
#image:hover{
    transform: scale(1.2);
}
.btn{
    height: 60px;
    width: 120px;
    font-size: larger;
    border-radius: 30px;
    color:white;
    background-color:rgb(193, 79, 41);
}
.btn:hover{
    background-color: white;
    color: black;
}
span{
    color:rgb(220, 113, 26);
}
/*About Section*/
.section_about{
    
    font-size: 25px;
    color: aliceblue;
    background-color: black;
}
h5{
    text-align: center;
    font-size: 50px;
}
#about{
    margin: 10%;
    padding: 5%;
    text-align: justify;
}
.about b{
    color:rgb(220, 113, 26);
}
.DownR{
    height: 60px;
    width: 200px;
    font-size: large;
    border-radius: 30px;
    color: white;
    color:rgb(243, 243, 242);
    background-color:rgb(193, 79, 41);
}
.DownR:hover{
    background-color:white;
    color: black;
}
/*Skills Section*/
.skill{
    margin: 10%;  
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-size: larger;
}
.skill b{
    font-size: 40px;
}
.html p{
    border: 50px solid white;
    border-radius: 50%;
    background-color: rgb(220, 113, 26);
    color: rgb(28, 30, 31);
    text-align: center;
    margin: 10px 0;
    padding: 10px 20px ;
}
.CSS p{
    border: 50px solid white;
    border-radius: 50%;
    background-color:rgb(220, 113, 26);
    color: rgb(28, 30, 31);
    text-align: center;
    margin: 10px 0;
    padding: 10px 20px ;
}
.JS p{
    border: 50px solid white;
    border-radius: 50%;
    background-color:rgb(220, 113, 26);
    color: rgb(28, 30, 31);
    text-align: center;
    margin: 10px 0;
    padding: 10px 20px ;
}
/*contact Section*/
.section_contact{
    color: aliceblue;
    background-color: black;
}
#contact h1{
    font-size: 40px;
    text-align: center;
}
#contact{
    margin: 10%;
    margin: 10%;
    padding: 5%;
    display: flex;
    justify-content: center;
    text-align: justify;
}
#sub_btn{ 
    height: 40px;
    width: 90px;
    font-size: larger;
    border-radius: 20px;
    color:rgb(242, 242, 243);
    background-color:rgb(220, 113, 26);
}   
#sub_btn:hover{
    background-color: white;
    color: black;
}
.input{
    width: 300px;  
    height: 50px; 
    font-size: 16px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
}
footer{
    background-color:rgb(220, 113, 26);
    text-align: center;
    color: white;
    padding: 20px;
    text-decoration: none;
}
.socials a {
    color: #fff;
    margin: 10px;
    justify-content: space-between;
    text-decoration: none;
}
.last{
    background-color: black;
}
